.schedule-button {
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 5;
  }
  