.socialIcons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.iconLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
  color: white; /* default text/icon color */
}

.iconLink:hover {
  color: var(--secondary); /* highlight on hover */
}

html.dark .iconLink {
  color: #fff; /* white icons in dark mode */
}

html.dark .iconLink:hover {
  color: var(--secondary);
}
